html,
body {
	font-family: K2D, -apple-system, K2D, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	/* background-color: #323232; */
	color: white;
	margin: 0 !important;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img {
	pointer-events: none;
}

/* @keyframes ckw {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} */

.hex {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 320px;
	height: 277.12px; /* width * 0.866 */
	background: white;
	box-sizing: border-box;
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
	position: absolute;
	background-color: transparent; /*color of the main-background*/
	top: 2px; /* equal to border thickness */
	left: 2px; /* equal to border thickness */
	width: 316px; /* container height - (border thickness * 2) */
	height: 273.12px; /* container height - (border thickness * 2) */
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-small {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 290px;
	height: 251.14px; /* width * 0.866 */
	background: white;
	box-sizing: border-box;
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background-small {
	position: absolute;
	background-color: transparent; /*color of the main-background*/
	top: 2px; /* equal to border thickness */
	left: 2px; /* equal to border thickness */
	width: 286px; /* container height - (border thickness * 2) */
	height: 247.14px; /* container height - (border thickness * 2) */
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-xsmall {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 250px;
	height: 216.5px; /* width * 0.866 */
	background: white;
	box-sizing: border-box;
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background-xsmall {
	position: absolute;
	background-color: transparent; /*color of the main-background*/
	top: 2px; /* equal to border thickness */
	left: 2px; /* equal to border thickness */
	width: 246px; /* container height - (border thickness * 2) */
	height: 212.5px; /* container height - (border thickness * 2) */
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-mobile {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 320px;
	height: 277.12px; /* width * 0.866 */
	background: white;
	box-sizing: border-box;
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background-mobile {
	position: absolute;
	background-color: transparent; /*color of the main-background*/
	top: 2px; /* equal to border thickness */
	left: 2px; /* equal to border thickness */
	width: 316px; /* container height - (border thickness * 2) */
	height: 273.12px; /* container height - (border thickness * 2) */
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-mobile img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 100;
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.skeleton-loading {
	background-color: rgb(154, 154, 154);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	will-change: opacity;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #1e1e1e 50%, #272727 50%);
	bottom: 0;
	left: -50%;
	opacity: 0.5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: 0;
	/* height: fit-content; */
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.bg3 {
	animation-duration: 5s;
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

.MuiTooltip-popper,
.MuiTooltip-popperInteractive,
.MuiPopper-root {
	z-index: 999999 !important;
}

.cell {
	width: 100%;
	height: 100%;
	/* color: #777777; */
	/* text-transform: uppercase;
	font-size: 10px; */
	opacity: 1 !important;
	border-radius: 8px;
	overflow: clip;
	display: flex;
	justify-content: center;
	align-items: center;
}

.default {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	/* display: flex;
	align-items: flex-end;
	justify-content: center; */
	/* background-color: red; */
}

.details {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #ffffffd0;
	/* filter: blur(10px); */
	/* padding: 40px; */
	font-weight: 100;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	border-radius: 8px;
}

.h-details {
	color: black;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	max-width: 250px;
	padding-left: 20px;
	z-index: 100;
}

.p-details {
	color: black;
	font-size: 26px;
	line-height: 26px;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 20px;
	z-index: 100;
}

.circle {
	position: absolute;
	width: 280px;
	height: 280px;
	border-radius: 10%;
	box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.2);
}

.grid {
	display: flex;
}
