.parallaxContainer > div > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	pointer-events: none;
	justify-content: start !important;
	line-height: 0px;
	/* text-transform: uppercase; */
}

.number {
	font-size: 300px;
	color: white;
}

.number span {
	display: flex;
	position: relative;
}

.slopeBegin {
	background-color: #323232;
	clip-path: polygon(100% 0, 100% 78%, 0 95%, 0 17%);
}

.slopeBeginStart {
	background-color: #323232;
	clip-path: polygon(100% 0, 100% 78%, 0 95%, 0 0%);
	position: absolute;
	width: 100%;
	height: 100%;
	/* cursor: pointer; */
}

.slopeEnd {
	clip-path: polygon(100% 69%, 100% 78%, 0 95%, 0 86%);
}

.slopeEnd {
	position: absolute;
	bottom: -68%;
	width: 350%;
	height: 350%;
	/* cursor: pointer; */
}

.slopeBegin {
	position: absolute;
	width: 100%;
	height: 100%;
	/* cursor: pointer; */
}

.pink {
	background: rgb(192, 0, 69);
	background: linear-gradient(225deg, rgba(192, 0, 69) 33%, rgba(255, 184, 0) 67%);
}

.teal {
	background: rgb(192, 0, 69);
	background: linear-gradient(225deg, rgba(255, 184, 0) 33%, rgba(160, 232, 134) 67%);
}

.tomato {
	background: rgb(192, 0, 69);
	background: linear-gradient(225deg, rgba(160, 232, 134) 33%, rgba(0, 135, 177) 67%);
}
